*.class
*.jar
*.ear
*.war
*.iml
*.ipr
*.iws
.classpath
.project
rebel.xml
/build
/bin
/.settings
/.gradle
/.idea
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/lib
/out
/.springBeans
/.svn
/src/main/webapp-build
gradle-app.setting